<!-- Filters -->
<div class="text-center my-5">
  <%= form_with url: admin_charts_path, method: :get do |s| %>
    <div class="date-range-filter field align-center">
      <%= label_tag :start_gt, I18n.t('spree.start'), :class => 'inline' %>
      <%= s.text_field :start_gt, :class => 'datepicker datepicker-from', :value => datepicker_field_value(params[:start_gt]) %>
      <span class="range-divider">
      <i class="fa fa-arrow-right"></i>
    </span>
      <%= s.text_field :end_lt, :class => 'datepicker datepicker-to', :value => datepicker_field_value(params[:end_lt]) %>
      <%= label_tag :end_lt, I18n.t('spree.end'), :class => 'inline' %>
    </div>

    <div class="text-center actions filter-actions offset-4 col-4">
      <%= s.select :period, options_for_select([["Day", :day], ["Week", :week], ["Month", :month]], params[:period]), {}, { class: "custom-select fullwidth mt-2" } %>
      <%= button_tag I18n.t('spree.search'), class: 'mt-5' %>
    </div>
  <% end %>
</div>

<!-- Results -->
<% @expressions.each do |expression| %>
  <div class="mt-5">
    <h5> <%= expression.label %> </h5>
    <%= expression.chart_expression.call(params[:period], params[:start_gt], params[:end_lt]) %>
    <hr>
  </div>
<% end %>
